<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigation</key>
	<dict>
		<key>back</key>
		<string>背部</string>
	</dict>
	<key>main</key>
	<dict>
		<key>changeLanguage</key>
		<string>更改演示语言</string>
		<key>simpleTranslator</key>
		<string>简单的翻译</string>
		<key>plurals</key>
		<string>复数</string>
		<key>rightToLeft</key>
		<string>从右到左查看</string>
	</dict>
	<key>chooseLanguage</key>
	<dict>
		<key>title</key>
		<string>选择语言</string>
	</dict>
	<key>simpleTranslator</key>
	<dict>
		<key>title</key>
		<string>简单的翻译</string>
		<key>list</key>
		<dict>
			<key>apple</key>
			<string>苹果</string>
			<key>bee</key>
			<string>蜜蜂</string>
			<key>cat</key>
			<string>猫</string>
			<key>dolphin</key>
			<string>海豚</string>
			<key>elephant</key>
			<string>象</string>
			<key>fish</key>
			<string>鱼</string>
			<key>giraffe</key>
			<string>长颈鹿</string>
			<key>house</key>
			<string>家</string>
			<key>iceCream</key>
			<string>冻结的</string>
			<key>jelly</key>
			<string>果冻</string>
			<key>kite</key>
			<string>风筝</string>
			<key>ladybird</key>
			<string>瓢虫</string>
			<key>mouse</key>
			<string>老鼠</string>
			<key>newt</key>
			<string>海卫一</string>
			<key>octopus</key>
			<string>章鱼</string>
			<key>pig</key>
			<string>猪</string>
			<key>queen</key>
			<string>女王</string>
			<key>rocket</key>
			<string>火箭</string>
			<key>snake</key>
			<string>蛇</string>
			<key>teddybear</key>
			<string>泰迪熊</string>
			<key>umbrella</key>
			<string>雨伞</string>
			<key>vase</key>
			<string>花瓶</string>
			<key>whale</key>
			<string>鲸</string>
			<key>xylophone</key>
			<string>木琴</string>
			<key>yoYo</key>
			<string>悠悠球</string>
			<key>zebra</key>
			<string>斑马</string>
		</dict>
	</dict>
	<key>plurals</key>
	<dict>
		<key>title</key>
		<string>复数</string>
		<key>question</key>
		<string>你有多少苹果？</string>
	</dict>
	<key>rightToLeft</key>
	<dict>
		<key>title</key>
		<string>从右到左查看</string>
		<key>force</key>
		<string>力从右到左</string>
	</dict>
</dict>
</plist>
