<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigation</key>
	<dict>
		<key>back</key>
		<string>バック</string>
	</dict>
	<key>chooseLanguage</key>
	<dict>
		<key>title</key>
		<string>言語を選択する</string>
	</dict>
	<key>simpleTranslator</key>
	<dict>
		<key>title</key>
		<string>シンプルトランスレータ</string>
		<key>list</key>
		<dict>
			<key>apple</key>
			<string>林檎</string>
			<key>bee</key>
			<string>蜂</string>
			<key>cat</key>
			<string>ネコ</string>
			<key>dolphin</key>
			<string>イルカ</string>
			<key>elephant</key>
			<string>象</string>
			<key>fish</key>
			<string>魚</string>
			<key>giraffe</key>
			<string>キリン</string>
			<key>house</key>
			<string>自宅</string>
			<key>iceCream</key>
			<string>フローズン</string>
			<key>jelly</key>
			<string>ゼリー</string>
			<key>kite</key>
			<string>凧</string>
			<key>ladybird</key>
			<string>ミツバチ</string>
			<key>mouse</key>
			<string>マウス</string>
			<key>newt</key>
			<string>トリトン</string>
			<key>octopus</key>
			<string>たこ</string>
			<key>pig</key>
			<string>豚</string>
			<key>queen</key>
			<string>クイーン</string>
			<key>rocket</key>
			<string>ロケット</string>
			<key>snake</key>
			<string>ヘビ</string>
			<key>teddybear</key>
			<string>テディベア</string>
			<key>umbrella</key>
			<string>傘</string>
			<key>vase</key>
			<string>花器</string>
			<key>whale</key>
			<string>鯨</string>
			<key>xylophone</key>
			<string>木琴</string>
			<key>yoYo</key>
			<string>ヨーヨー</string>
			<key>zebra</key>
			<string>シマウマ</string>
		</dict>
	</dict>
	<key>plurals</key>
	<dict>
		<key>title</key>
		<string>プルーフル</string>
		<key>question</key>
		<string>あなたはリンゴをいくつ持っていますか？</string>
	</dict>
	<key>rightToLeft</key>
	<dict>
		<key>title</key>
		<string>右から左に見る</string>
		<key>force</key>
		<string>右から左に強制する</string>
	</dict>
</dict>
</plist>
