<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resource</key>
	<string>plist</string>
	<key>language</key>
	<dict>
		<key>value</key>
		<string>Language</string>
		<key>current</key>
		<string>English</string>
	</dict>
</dict>
</plist>
