<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>language</key>
	<dict>
		<key>value</key>
		<string>Język</string>
		<key>english</key>
		<string>Angielski</string>
		<key>polish</key>
		<string>Polski</string>
		<key>japanese</key>
		<string>Japoński</string>
		<key>spanish</key>
		<string>Hiszpański</string>
	</dict>
</dict>
</plist>
