<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>language</key>
	<dict>
		<key>value</key>
		<string>لغة</string>
		<key>english</key>
		<string>الإنجليزية</string>
		<key>polish</key>
		<string>البولندي</string>
		<key>japanese</key>
		<string>اليابانية</string>
		<key>spanish</key>
		<string>الأسبانية</string>
		<key>arabic</key>
		<string>عربى</string>
	</dict>
</dict>
</plist>
